@model Promocoes.MVC.ViewModels.ProdutoPromocaoViewModel

@{
    ViewBag.Title = "Create";
}

<div class="form-horizontal">
    <h4>ProdutoViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProdutoID)

    <div class="form-group">
        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Descricao, new { id = "DescricaoPromo", htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextBoxFor(model => model.Quantidade, new { id = "QuantidadePromo" })
                @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextBoxFor(model => model.Preco, new { id = "PrecoPromo" })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $(function () 
    {
        $("#popupPromoForm").dialog({
            modal: true,
            width: 400,
            height: 350,
            autoOpen: true,
            resizable: false,
            open: function(e) {
                $(e.target).parent().css('background-color','grey');
                $("#DescricaoPromo").focus();
            },
            buttons: {
                "Salvar": function () {
                    $.post('@Url.Action("PromoCreateSave", "Produto")',
                    {
                        prodID: @Model.ProdutoID,
                        descPromo: $('#DescricaoPromo').val().toString(),
                        qtdPromo: $('#QuantidadePromo').val().toString(),
                        precoPromo: $('#PrecoPromo').val().toString(),
                    },
                    function (data, status) {
                        if (data.response == 'True') {
                            listaPromoProd(@Model.ProdutoID);
                            $("#popupPromoForm").dialog("close");
                        } else {
                            alert("Ocorreu um erro na gravação da promoção. Contate o Suporte.");
                        }
                    });
                },
                "Fechar": function () {
                    $("#popupPromoForm").dialog("close");
                }
            }
        })
    })
</script>
