@model IEnumerable<Promocoes.MVC.ViewModels.ComprasCarrinhoViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtdProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precoProd)
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.PromocaoID)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precoProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descPromo)
            </td>
            <td>
                <img src="~/Images/img_xis.png" onclick='return delCarrinho(@item.prodID);' />
            </td>
        </tr>
    }
</table>  
