@model IEnumerable<Promocoes.MVC.ViewModels.ComprasCarrinhoViewModel>

<table class="table">
    <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Qtd</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.codProd</td>
            <td>@item.descProd</td>
            <td>@item.precoProd</td>
            <td>@item.qtdProd</td>
            <td>
                <img src="~/Images/img_xis.png" onclick='return delCarrinho(@item.prodID);' />
            </td>
        </tr>
    }
</table>  
