@model IEnumerable<Promocoes.MVC.ViewModels.ComprasViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Produtos a Comprar</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.Quantidade, new { id = "Qtd" + @item.ProdutoID })
            </td>
            <td>
                <img src="~/Images/img_carrinho.png" onclick='return addCarrinho(@item.ProdutoID);' />
            </td>
        </tr>
    }
</table>

<h2>Conteúdo do Carrinho</h2>

<div id="listaCarrinho"></div>  
<img src="~/Images/img_checkout.png" onclick='return ShowCheckoutPopup();' />

<script type="text/javascript">
    function addCarrinho(id)
    {
        var PDDID = "Qtd" + id;
        var PDDQ = $('#' + PDDID);

        $.post('@Url.Action("CarrinhoAdd", "Compras")',
        {
            idProd: id,
            qtdProd: PDDQ.val()
        },
        function (data, status, xhr) {
            $("#listaCarrinho").html(data);
        });
    }

    function delCarrinho(id) {
        $.post('@Url.Action("CarrinhoDel", "Compras")',
        {
            idProd: id
        },
        function (data, status, xhr) {
            $("#listaCarrinho").html(data);
        });
    }

    function ShowCheckoutPopup() {
        var urlDest = "@(Url.Action("Checkout", "Compras"))";

        $.ajax({
            type: "GET",
            url: urlDest,
            data: {
            },
            success: function (data) {
                $('#popupCheckoutForm').html(data)
            }
        });
    }
</script>

<div id="popupCheckoutForm"></div>
